    * {
  margin: 0 auto 0 auto;
  text-align: left;
}

#bodyLogin {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 13px;
  font-family: arial, helvetica, sens-serif;
  color: #000000;
   background-color: #221a4d;
   background-image: url(../images/logo.png);
   background-repeat: repeat-x;
   background-repeat: repeat-y;
   background-size:cover;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 13px;
  font-family: arial, helvetica, sens-serif;
  color: #000000;
   background-color: #221a4d;
   background-image: url(../images/layout.png);
   background-repeat: repeat-x;
   background-repeat: repeat-y;
   background-size:cover;
}



img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80px;
}


h2 {
  padding-bottom: 10px;
  color: #ffffff;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  color: #316e09;
}




header {
  width: 960px;
  height: 85px;
}

header h1 {
  float: left;
  color: #ffffff;
  font-size: 43px;
  padding: 20px 0 0 20px;
}

header h2 {
  float: right;
  color: #316e09;
  padding: 40px 20px 0 0;
}

header h1 span.green-text {
  color: #1b9e01;
  font-family:Arial, Helvetica, sans-serif;
}
header h2 span.white-text {
  color: #ffffff;
}
header h1 span.blue-text {
  color: #221a4d;
  font-family:Arial, Helvetica, sans-serif;
}

section {
    display: block;
    width: 680px;
    margin-top: 15px;
    float: left;
    background: #ffffff;
    border-radius: 10px;
    border: 6px solid #316e09;
    padding: 15px;
    margin-left: 15px;
  }

section1 {
  display: block;
  width:300px;
  margin-top: 50px;
  border-radius: 1px;
  padding: 15px 20px 10px 10px;
  float: right;
  background: #221a4d;
  color: #221a4d;
  border-radius: 1px;
  border: 1px solid #316e09;
  padding: 5px;
  margin-right: 100px;
}


section2 {
  display: block;
  width:350px;
  margin-top: 100px;
  border-radius: 20px;
  padding: 15px 20px 10px 10px;
  float: left;

  margin-left: 100px;
}

.container-fluid {
  width: 960px;
  padding: 10px;
}

#containerNav {
    width: 960px;
    height:1px;
  }

  .navbar-custom {
    background-color: #45a049;
    height:15px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:#ffffff;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:#45a049;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

  #containerHeader {
    width: 1000px;
    position:fixed;
    margin-top: 20px;
  padding: 10px 0 10px 0;
  text-align: center;
  height:100px;
  font-size: 18px;
  font-family: arial, helvetica, sens-serif;
  }

  div.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.footerContainer {
  color: #fff;
  position:relative;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  text-align: center;
  height:100px;
  font-size: 18px;
  font-family: arial, helvetica, sens-serif;

}



input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 70%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}